[package]
name = "internet2"
version = "0.3.0"
license = "Apache-2.0"
authors = ["Dr. Maxim Orlovsky <orlovsky@pandoracore.com>"]
description = "Rust implementation for the stack of Internet2 protocols"
repository = "https://github.com/internet2-org/rust-internet2"
homepage = "https://github.com/internet2-org"
keywords = ["internet2", "tor", "noise-xk", "privacy", "cryptography"]
categories = ["network-programming", "cryptography", "encoding"]
readme = "README.md"
edition = "2018"
exclude = [".github", "derive", "contrib", "microservices", "inet2_addr"]

[lib]
name = "internet2"
path = "src/lib.rs"
crate-type = ["rlib", "staticlib"]

# Dependencies
# ============
#
# Version policy
# --------------
# The policy in specifying dependencies versions are to use tilde requirements
# according to
# <https://doc.rust-lang.org/nightly/cargo/reference/specifying-dependencies.html?highlight=feature#tilde-requirements>
# with full semver version specification (major, minor and patch components)
# which means that we may upgrade for patches/bugfixes, but must not change
# even the minor version of the package.
# Once the library is stable consider upgrading tilde requirements to strict
# equivalence requirements (with '=' sign) since even dependencies patching will
# not introduce risk of breaking the consensus and even security updates must
# be done manually after through testing
[dependencies]
# Dependencies on other LNP/BP repositories
# -----------------------------------------
amplify = { version = "3", features = ["stringly_conversions"] }
amplify_derive = "2.4.3"
strict_encoding = { version = "1", features = ["derive"] }
inet2_addr = { version = "0.4", features = ["strict_encoding", "stringly_conversions"] }
inet2_derive = { version = "0.3", optional = true }
lnpbp = { version = "0.3.0-beta.1", optional = true }
descriptor-wallet = { version = "0.3.0-rc.5", optional = true }
# Dependencies on core rust-bitcoin ecosystem projects
# ----------------------------------------------------
bitcoin = { version = "~0.26.0", features = ["rand"] }
chacha20poly1305 = "~0.7.0"
# Core rust projects
# ------------------
#   This strange naming is a workaround for cargo inability to define required
#   features for a dependency. See
#   <https://github.com/rust-lang/api-guidelines/issues/180> for the explanation
#   and references.
serde_crate = { package = "serde", version = "~1.0.106", features = ["derive"], optional = true }
serde_with = { version = "~1.5.1", features = ["hex"], optional = true }
serde_with_macros = { version = "~1.2.0", optional = true } # Fix for the problem in 1.3.0
lazy_static = "~1.4.0"
# Networking deps
# ---------------
#   All these dependencies are used to provide support for networking URLs in
#   `lnp` mod and are turned on only if `lbp`, `zmq` or `url` features are used
zmq = { version = "~0.9.2", optional = true }
url = { version = "~2.1.1", optional = true }
# Serialization
# -------------
#    Used in RGB data Bech32 encodings
regex = "1"
# Temporary-needed dependencies:
# ------------------------------
# 2. Once async traits will get to rust compiler, this one will be also not
#    needed
torut = { version = "~0.1.6", features = ["v2", "v3"] }

[target.'cfg(target_os="android")'.dependencies]
cc = { version = "=1.0.41" }
# TODO: Find a soliton to a problem with breaking change in one of tokio
#       dependencies
socket2 = { version = "<=0.3.15" }
zmq = { version = "~0.9", features = ["vendored"] }

[target.'cfg(target_os="ios")'.dependencies]
zeromq-src = { version = "~0.1", git = "https://github.com/LNP-BP/zeromq-src-rs", branch = "fix/cmake" }

[target.'cfg(target_os="windows")'.dependencies]
openssl = { version = "~0.10", features = ["vendored"] }

# Features
# ========
[features]
# Listings
# --------
#   By default we use LNP with Tor support and URL support
default = ["tor", "url", "zmq", "derive", "bitcoin-ext"]
all = ["derive", "bitcoin-ext",
       # Serde
       "serde",
       # Networking
       "tor", "url", "zmq", "websockets", "vendored_openssl"]
# Exposing core rust componens
# ----------------------------
#   These also include re-assembly of necessary features from dependencies
serde = ["serde_crate", "serde_with", "serde_with_macros", "amplify/serde",
         "bitcoin/use-serde", "inet2_addr/serde"]
derive = ["inet2_derive"]
bitcoin-ext = ["descriptor-wallet", "lnpbp"]
# Networking
# ----------
websockets = []
tor = ["inet2_addr/tor"]
vendored_openssl = ["torut/vendored_openssl"]

[workspace]
members = [".", "derive", "inet2_addr", "microservices"]
default-members = [".", "derive", "inet2_addr", "microservices"]
exclude = ["dep_test"]
